#root {
  width: 1024px;
  max-width: 1280px;
  min-width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.container {
  width: 1024px;
  min-width: 1024px;
  height: 480px;
  background-color: #cc5353;
}

.phonebook-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}
